
<div class="candidates-black-list tab-content-width-index">


  <div data-company-id="<%= company.id %>">

      <div class="candidates-info product-body">
          <p>
          <% case company.name
            when "Facebook" %><%= image_tag "facebook.png", class: "logo-company-blacklist" %>
            <% when "Twitter" %><%= image_tag "twitter.png", class: "logo-company-blacklist" %>
            <% when "BlackBerry" %><%= image_tag "Blackberry.png", class: "logo-company-blacklist" %>
            <% when "Nokia" %><%= image_tag "Nokia.png", class: "logo-company-blacklist" %>
            <% when "The Good Gift" %><%= image_tag "thegoodgift.png", class: "logo-company-blacklist" %>
            <% when "Sanofi" %><%= image_tag "sanofi.png", class: "logo-company-blacklist" %>
            <% when "Rocket Internet" %><%= image_tag "rocket-internet.png", class: "logo-company-blacklist" %>
            <% when "Omnes Capital" %><%= image_tag "omnes-capital.png", class: "logo-company" %>
            <% when "BlaBlaCar" %><%= image_tag "BlaBlaCar.png", class: "logo-company-blacklist" %>
            <% when "KPMG" %><%= image_tag "KPMG.png", class: "logo-company-blacklist" %>
            <% when "Withings" %><%= image_tag "withings.png", class: "logo-company-blacklist" %>
            <% when "Planisphère" %><%= image_tag "planisfer.png", class: "logo-company-blacklist" %>
          <% end %>
          </p>
          <p>Blacklisted on: <%= company.created_at.strftime("%b %d, %Y")%></p>
      </div>

      <div class="delete-blacklist">
        <% if current_user.company_admin %>
          <ul class="list-inline">
            <% @black_listed = CompanyCompany.find_by(black_listed_company_id: company.id, company_id: @company.id) %>
            <li>
              <%= link_to company_company_path(@black_listed.id), method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash delete-offer"></i>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>

  </div>

</div>
