<div class="sidebar-common">

    <div class="sidebar-top">
      <div class="sidebar-logo text-center">
        <%= link_to root_path do %>
          <%= image_tag "logoblanc.png" %>
        <% end %>
      </div>
      <div class="tools">
        <% if user_signed_in? %>
          <div class="sidebar-top-except-add">
            <div class="tab-button-add">
              <%= link_to company_path(current_user.company, anchor: "job_offers") do %>
                <div class="tabs <%= set_main_category("companies", params[:controller]) %>">
                  <h4><i class="fa fa-cog"></i> My Dashboard </h4>
                </div>
              <% end %>
            </div>
            <div class="tab-button-add">
              <%= link_to company_candidates_path(current_user.company) do %>
                <div class="tabs <%= set_main_category("candidates", params[:controller]) %>">
                  <h4><i class="fa fa-users"></i> Find Candidates </h4>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="logout-button">
      <p><%= link_to destroy_user_session_path, method: :delete  do %>
        <i class="fa fa-sign-out"></i>
      <% end %>
      </p>
    </div>

</div>
