<div class="banner">
  <div class="banner-content">
    <h1>Find the best candidates</h1>
    <p>Selected by top recruiters from top companies</p>
    <%= link_to "Find a candidate", "", class: "btn btn-primary btn-banner" %>
  </div>
</div>

<div class="container text-center" id="how-it-works">
  <div class="big-title">
    <div><span class="">NOTRE CONCEPT</span></div>
  </div>
  <div class="title-description">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "enveloppe.png" %>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "pick_gift.png" %>
      <p>consectetur adipiscing elit</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "delivery.png" %>
      <p>incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

<div class="container" id="last-gifts">
  <div class="big-title">
    <div><span class="">OUR LAST MATCH</span></div>
  </div>
  <div class="row">

  </div>
</div>

<ul class="container">
      <li class="row">
          <div class="sliding-item sliding-item--right">
              <div class="panel-img  col-sm-7">
                  <picture>
                      <!--[if IE 9]><video style="display: none;"><![endif]-->
                      <source srcset="assets/img/page-home/feature-1.jpg, assets/img/page-home/feature-1@2x.jpg 2x">
                      <!--[if IE 9]></video><![endif]-->
                      <img srcset="assets/img/page-home/feature-1.jpg, assets/img/page-home/feature-1@2x.jpg 2x" alt="MonDocteur, vos patients accèdent à votre site personnalisé avec vos informations">
                  </picture>
              </div>
              <div class="panel-text  col-sm-5">
                  <div class="s-table">
                      <div class="s-table-cell">
                          <span class="picto picto--doc" aria-hidden="true"></span>
                          <h3 class="content--feature__title">Trouvez <br class="br-screen-sm">votre médecin</h3>
                          <p>Besoin d'un rendez-vous médical ? <br>Retrouvez votre médecin sur MonDocteur et prenez rendez-vous en ligne.</p>
                          <p>Vous pouvez également trouver un praticien, dentiste, ophtalmologue disponible près de chez vous pour un RDV médical rapide. </p>
                      </div>
                  </div>
              </div>
          </div>
      </li>

      <li class="row">
          <div class="sliding-item sliding-item--left sliding-item--hidden">
              <div class="panel-img  col-sm-7 col-sm-push-5">
                  <picture>
                      <!--[if IE 9]><video style="display: none;"><![endif]-->
                      <source srcset="assets/img/page-home/feature-2.jpg, assets/img/page-home/feature-2@2x.jpg 2x">
                      <!--[if IE 9]></video><![endif]-->
                      <img srcset="assets/img/page-home/feature-2.jpg, assets/img/page-home/feature-2@2x.jpg 2x" alt="MonDocteur, Prise de rendez-vous 24h/24, 7j/7">
                  </picture>
              </div>
              <div class="panel-text  col-sm-5 col-sm-pull-7">
                  <div class="s-table"><div class="s-table-cell">
                      <span class="picto picto--agenda-check" aria-hidden="true"></span>
                      <h3 class="content--feature__title">Prenez <br class="br-screen-sm">rendez-vous en ligne</h3>
                      <p>Sur MonDocteur vous accédez aux créneaux de rendez-vous disponibles et à toutes les informations utiles de votre médecin : tarifs, conventionnement, spécialités, informations d'accès.</p>
                      <p>Plus d'appel, plus d'attente : vous prenez rendez-vous chez le médecin en ligne et en 1 clic.</p>
                  </div></div>
              </div>
          </div>
      </li>

      <li class="row">
          <div class="sliding-item sliding-item--right sliding-item--hidden">
              <div class="panel-img  col-sm-7">
                  <picture>
                      <!--[if IE 9]><video style="display: none;"><![endif]-->
                      <source srcset="assets/img/page-home/feature-3.jpg, assets/img/page-home/feature-3@2x.jpg 2x">
                      <!--[if IE 9]></video><![endif]-->
                      <img srcset="assets/img/page-home/feature-3.jpg, assets/img/page-home/feature-3@2x.jpg 2x" alt="MonDocteur, Restez zen">
                  </picture>
              </div>
              <div class="panel-text  col-sm-5 col-sm-push-7">
                  <div class="s-table">
                      <div class="s-table-cell">
                          <span class="picto picto--zen" aria-hidden="true"></span>
                          <h3 class="content--feature__title">Restez zen</h3>
                          <p>Fini les rendez-vous oubliés ou les horaires mal notés : MonDocteur vous envoie pour chaque rendez-vous un email de confirmation avec toutes les informations utiles à savoir.</p>
                          <p>Vous recevez également un SMS de rappel 24h avant votre rendez-vous.</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>

      <li class="row">
          <div class="sliding-item sliding-item--left sliding-item--hidden">
              <div class="panel-img  col-sm-7 col-sm-push-5">
                  <picture>
                      <!--[if IE 9]><video style="display: none;"><![endif]-->
                      <source srcset="assets/img/page-home/feature-4.jpg, assets/img/page-home/feature-4@2x.jpg 2x">
                      <!--[if IE 9]></video><![endif]-->
                      <img srcset="assets/img/page-home/feature-4.jpg, assets/img/page-home/feature-4@2x.jpg 2x" alt="MonDocteur, Prise de rendez-vous 24h/24, 7j/7">
                  </picture>
              </div>
              <div class="panel-text  col-sm-5">
                  <div class="s-table">
                      <div class="s-table-cell">
                          <span class="picto picto--user-space" aria-hidden="true"></span>
                          <h3 class="content--feature__title">Accédez <br class="br-screen-sm">à votre espace patient</h3>
                          <p>Avec MonDocteur, suivez votre parcours de soin en ligne.</p>
                          <p>Depuis votre espace patient, retrouvez l'historique de tous vos rendez-vous et des praticiens que vous avez consultés.</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
  </ul>


  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <%= image_tag "lock.png" %>
      <p>PAIEMENT SÉCURISÉ</p>
      <span class="text-small">Payez en toute sécurité par Stripe</span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <%= image_tag "delivery.png" %>
      <p>LIVRAISONS OFFERTES</p>
      <span class="text-small">Livraison par coursier en 3 heures sur Paris</span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <%= image_tag "exchange.png" %>
      <p>ÉCHANGES GRATUITS</p>
      <span class="text-small">L’heureux destinataire peut échanger ses cadeaux sous 14 jours</span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <%= image_tag "customer_service.png" %>
      <p>SERVICE CLIENT</p>
      <span class="text-small">À votre écoute toute la journée au 01 30 15 19 78 ou par email.
</span>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    document.querySelector('#how').addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector('#how-it-works').scrollIntoView({ behavior: 'smooth' });
    });
    document.querySelector('#ideas').addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector('#our-ideas').scrollIntoView({ behavior: 'smooth' });
    });
    document.querySelector('#last').addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector('#last-gifts').scrollIntoView({ behavior: 'smooth' });
    });
    document.querySelector('#reviews').addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector('#temoignages').scrollIntoView({ behavior: 'smooth' });
    });
  <% end %>
<% end %>


