<div class="banner">
  <div class="banner-content">
    <h1>Find the best candidates</h1>
    <p>Selected by top recruiters from top companies</p>
    <% if user_signed_in? %>
      <a href="companies/<%= current_user.company.id %>/candidates#top-tab", class="btn btn-primary btn-banner">Find a Candidate</a>
    <% else %>
       <a href="", class="btn btn-primary btn-banner">Contact us</a>
       <% end %>
  </div>
</div>

<div class="container text-center" id="how-it-works">
  <div class="big-title">
    <div><span class="">WHY WERES?</span></div>
  </div>
  <div class="title-description">
    <div>WeRes is the first intelligent platform created to <strong>share candidates between recruiters.</strong></div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "three-candidates.svg" %>
      <p>For each job there is <strong>more than one good candidate</strong></p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "resume.svg" %>
      <p>Our candidates are <strong>selected by the best recruiters</strong></p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "percentage.svg" %>
      <p>Our matching algorithm only present you the <strong>best fitted candidates</strong></p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row row-lighten">
    <div class="col-xs-12 col-md-7 full-height">
      <div class="mockup-text">
        <h2 class="functionnality">1. Upload your job offer...</h2>
        <p class="under-title">...really easily with our drag and drop interface</p>
        <p class="content">
          In order to find the best matches for you needs, you just have to upload the job offer you want to fullfill.
        </p>
        <a class="btn btn-primary btn-banner" href="#">UPLOAD MY JOB OFFER</a>
      </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-5 full-height">
      <div class="home-images">
        <%= image_tag "upload_job_offer.png", height: "200px" %>
      </div>
    </div>
  </div>
</div>
<div class="wraper-white">
  <div class="container">
    <div class="row row-white">
      <div class="hidden-xs hidden-sm col-md-5 full-height">
        <div class="home-images">
          <%= image_tag "candidate_index_2.png", height: "200px" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-7 full-height">
        <div class="mockup-text">
          <h2 class="functionnality">2. Find the best candidates...</h2>
          <p class="under-title">...thanks to our intelligent matching</p>
          <p class="content">
            We compare your job offers to our thousands of job offer we already have to find which candidates match your needs<br>All this candidates have been selected by other recruiters for a similar position.
          </p>
          <a class="btn btn-primary btn-banner" href="#">FIND CANDIDATES</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-lighten">
    <div class="col-xs-12 col-md-7 full-height">
      <div class="mockup-text">
        <h2 class="functionnality">3. Push your candidates...</h2>
        <p class="under-title">...as easily as you upload job offers</p>
        <p class="content">
          Monetize the time you spent sorting candidates by selling your best profile on WeRes
        </p>
        <% if user_signed_in? %>
          <%= link_to "PUSH CANDIDATES", "#", class: 'btn btn-primary btn-banner' %>
        <% else %>
          <a class="btn btn-primary btn-banner" href="#">PUSH CANDIDATES</a>
        <% end %>
      </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-5 full-height">
      <div class="home-images">
        <%= image_tag "cv.png", height: "200px" %>
      </div>
    </div>
  </div>
</div>



<div class="wraper-white">
  <div class="full-width references-list">
    <div class="big-title">
      <div><span class="">THEY TRUST US</span></div>
    </div>
    <ul class="list-unstyled list-inline text-center responsive">
      <li><%= image_tag "om.png", height: "80px" %></li>
      <li><%= image_tag "timzy.png", height: "80px" %></li>
      <li><%= image_tag "rhythm.png", height: "80px" %></li>
      <li><%= image_tag "thegoodgift.png", height: "80px" %></li>
      <li><%= image_tag "wktp.png", height: "80px" %></li>
      <li><%= image_tag "google.jpg", height: "80px" %></li>

    </ul>
  </div>
</div>
