<% if policy(@candidates).show? %>
<div id="sidebar">
  <div class="blue text-center">
    <h4> <strong>YOUR JOB OFFERS</strong></h4>
  </div>
    <% @company.job_offers.each do |jb|%>
      <a class="tabs" data-target="#job_offer_<%=jb.id %>">
        <h4><%= jb.title %></h4>
      </a>
    <% end  %>
</div>
  <div class="page-content">
    <div class="background">
      <% @company.job_offers.each do |jb|%>
        <div class="tab-content-width">
            <div class="tab-content" id="job_offer_<%=jb.id %>">
              <div class="container">
                <div class="row">
                  <div class="tab-content-space">
                    <div class="title">
                      <h1 class="text-center title">List of candidates</h1>
                    </div>

                   <div class="candidates">
                    <% @candidates.each do |candidate| %>
                        <div class="col-xs-12">
                          <%= link_to company_candidates_path(candidate) do %>
                            <h3><%= candidate.name %></h3>
                            <p><strong><%= candidate.position %></strong></p>
                            <p>Recommended by <strong><%= candidate.job_offer.user.company.name%></strong></p>
                         <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
<% end %>





