<% if policy(@candidates).show? %>
<div id="sidebar">
  <div class="blue text-center">
    <h4> <strong>YOUR JOB OFFERS</strong></h4>
  </div>
    <% @company.job_offers.each do |jb|%>
    <% if jb.candidates == [] %>
      <a class="tabs" data-target="#job_offer_<%=jb.id %>">
        <h5><%= jb.title %></h5>
      </a>
      <% end  %>
    <% end  %>
      <a class="tabs btn btn-primary back-button-sidebar" data-target="#top-tab"><h5>Add job offer</h5></a>
</div>

  <div class="page-content">
    <div class="background">
    <div class="tab-content-width">
            <div class="tab-content" id="top-tab">
              <div class="container">
                <div class="row">
                  <div class="tab-content-space">
                    <div class="text-center title">
                      <h1>Add your Job Offer</h1>
                    </div>

                    <div class="add-card">
                        <h1 class="text-center title"></h1>

                      <div class="formulaire">

                      <%= render 'job_offers/form', job_offer: JobOffer.new %>
                    </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
    </div>

      <% @company.job_offers.each do |jb|%>
      <% if jb.candidates == [] %>
        <div class="tab-content-width">
            <div class="tab-content" id="job_offer_<%=jb.id %>">
              <div class="container">
                <div class="row">
                  <div class="tab-content-space">
                    <div class="title">
                      <h1 class="text-center title">List of candidates</h1>
                      <h4 class="text-center sous-title"><%= jb.title %></h4>
                    </div>

                   <div class="candidates">
                    <% @candidates.each do |candidate| %>
                        <div class="col-xs-12">
                          <%= link_to company_candidate_path(@company, candidate) do %>
                            <h3><%= candidate.name %></h3>
                            <p><strong><%= candidate.position %></strong></p>
                            <p>Recommended by <strong><%= candidate.job_offer.user.company.name%></strong></p>
                         <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>





