<% if policy(@candidates).show? %>

    <div class="tab-content-width">
      <div class="tab-content" id="top-tab">
        <div class="container-fluid">
          <div class="row">
            <div class="tab-content-space">
              <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <div class="add-card">
                  <div class="formulaire">
                    <%= render 'job_offers/form', job_offer: JobOffer.new %>
                  </div>
                </div>
                <!-- <h3>How does it work ?</h3>
                <p>Our algorithm compares the content of your job-offer with all the job-offers in our database to find the most accurate candidates !</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="picto-add-form">
              <div class="col-xs-12 col-sm-4">
                <%= image_tag "upload-offer.svg", class: "avatar-form-new" %>
                <p>Simply <strong>upload your job offer (.pdf)</strong></p>
              </div>
              <div class="col-xs-12 col-sm-4">
                <%= image_tag "percentage.svg", class: "avatar-form-new" %>
                <p>Our matching algorithm compares the content of your job-offer with <strong>our database</strong></p>
              </div>
              <div class="col-xs-12 col-sm-4">
                <%= image_tag "resume.svg", class: "avatar-form-new" %>
                <p>We find the <strong>best fitted candidates for your offer</strong></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="text-center">
                <%= link_to "Cancel", company_path(@company, anchor: "job_offers"), class: "btn btn-danger back-button" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 <% @job_offers.each do |jb, score|%>
      <div class="tab-content-width tab-content-width-index">
        <div class="tab-content" id="job_offer_<%=jb.id %>">
          <h1 class="title text-center"><%= jb.title %></h1>
            <div class="menu-tabs">
                <a class="menu-tab active" href="#" data-target="#candidates-list_<%=jb.id %>" >
                  <h3>Candidates</h3>
                </a>
                <a class="menu-tab" href="#" data-target="#favourites_<%=jb.id %>">
                  <h3>Favourites</h3>
                </a>
                <a class="menu-tab" href="#" data-target="#contacted_<%=jb.id %>">
                  <h3>Contacted</h3>
                </a>
            </div>

            <div class="menu-tab-content" id="candidates-list_<%=jb.id %>">
              <div class="container-fluid">
                <div class="row">
                  <div class="tab-content-space">
                    <div class="container-fluid">
                      <div class="row">
                        <% score.reverse.each do |result| %>
                          <% unless result[:job_offer].user.company == current_user.company %>
                            <% result[:job_offer].candidates.each do |candidate| %>
                              <div class="candidates" data-candidate-id="<%= candidate.id %>">
                                  <div class="candidates-info">

                                  <% if candidate.document.nil? %>
                                    <%# path = company_candidate_path %>
                                    <%= link_to company_candidate_path(@company, candidate, job_offer_id: jb.id) do %>
                                      <h4><strong><%= candidate.name %></strong></h4>
                                      <p><strong>Recommended by: </strong>
                                          <% case candidate.job_offer.user.company.name
                                            when "Facebook" %><%= image_tag "facebook.png", class: "logo-company" %>
                                            <% when "Twitter" %><%= image_tag "twitter.png", class: "logo-company" %>
                                            <% when "Blackberry" %><%= image_tag "Blackberry.png", class: "logo-company" %>
                                            <% when "Nokia" %><%= image_tag "Nokia.png", class: "logo-company" %>
                                            <% when "The Good Gift" %><%= image_tag "thegoodgift.png", class: "logo-company" %>
                                            <% when "Sanofi" %><%= image_tag "sanofi.png", class: "logo-company" %>
                                            <% when "Rocket Internet" %><%= image_tag "rocket-internet.png", class: "logo-company" %>
                                            <% when "Omnes Capital" %><%= image_tag "omnes-capital.png", class: "logo-company" %>
                                            <% when "BlaBlaCar" %><%= image_tag "BlaBlaCar.png", class: "logo-company" %>
                                            <% when "KPMG" %><%= image_tag "KPMG.png", class: "logo-company" %>
                                          <% end %>

                                      </p>
                                      <p><strong>For a position as: </strong><%= candidate.job_offer.title%></p>
                                    <% end %>
                                  <% else %>
                                    <%# path = cl_image_path("#{candidate.document.public_id}.png", width: 800,
                                    height: 1000, crop: :fill), class: "swipebox", rel: "gallery_2"  %>
                                    <%= link_to cl_image_path("#{candidate.document.public_id}.png", width: 800,
                                      height: 1000, crop: :fill), class: "swipebox", rel: "gallery_2" do %>
                                      <h4><strong><%= candidate.name %></strong></h4>
                                      <p><strong>Recommended by: </strong>
                                          <% case candidate.job_offer.user.company.name
                                            when "Facebook" %><%= image_tag "facebook.png", class: "logo-company" %>
                                            <% when "Twitter" %><%= image_tag "twitter.png", class: "logo-company" %>
                                            <% when "BlackBerry" %><%= image_tag "Blackberry.png", class: "logo-company" %>
                                            <% when "Nokia" %><%= image_tag "Nokia.png", class: "logo-company" %>
                                            <% when "The Good Gift" %><%= image_tag "thegoodgift.png", class: "logo-company" %>
                                            <% when "Sanofi" %><%= image_tag "sanofi.png", class: "logo-company" %>
                                            <% when "Rocket Internet" %><%= image_tag "rocket-internet.png", class: "logo-company" %>
                                            <% when "Omnes Capital" %><%= image_tag "omnes-capital.png", class: "logo-company" %>
                                            <% when "BlaBlaCar" %><%= image_tag "BlaBlaCar.png", class: "logo-company" %>
                                            <% when "KPMG" %><%= image_tag "KPMG.png", class: "logo-company" %>
                                            <% when "Withings" %><%= image_tag "withings.png", class: "logo-company" %>
                                            <% when "Planisphère" %><%= image_tag "planisfer.png", class: "logo-company" %>
                                          <% end %></p>
                                      <p><strong>For a position as: </strong><%= candidate.job_offer.title%></p>
                                    <% end %>
                                  <% end %>

                                    <div class="text-center contacted-container_<%= candidate.id %>">
                                    <% if jb.candidate_contacted? candidate %>
                                      <p class='sent-inmail-index'>Inmail Sent</p>
                                    <% else %>
                                      <%= link_to 'Send Inmail', company_job_offer_contacted_candidates_path(@company, jb, candidate_id: candidate.id), method: :post, class: 'btn btn-primary send-inmail-index', remote: true, data: { confirm: "Do you confirm you want us to contact this candidate for you ?
                                        The We.Res Team
                                        " }%>
                                    <% end %>
                                    </div>
                                  </div>

                                  <div class="rating">
                                    <div class="text-center" >
                                      <div class="favorite-link-container_<%= candidate.id %>">
                                        <%= render 'favorite_link', candidate: candidate, job_offer: jb %>
                                      </div>


                                        <div class="progress-bar-home">
                                          <figure data-skill="<%= (result[:score] * 100).round(1) %> " data-skill-size="<%= (result[:score] * 100).round(1) %>"></figure>
                                       </div>
                                      </div>
                                    </div>
                                  </div>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="menu-tab-content hidden" id="favourites_<%=jb.id %>">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="tab-content-space">
                        <div class="container-fluid">
                          <div class="row candidates-container">
                            <% score.reverse.each do |result| %>
                              <% unless result[:job_offer].user.company == current_user.company %>
                                <% result[:job_offer].candidates.each do |candidate| %>
                                <% if jb.voted_for? candidate %>
                                    <div class="candidates" data-candidate-id="<%= candidate.id %>">
                                        <div class="candidates-info">
                                          <%= link_to company_candidate_path(@company, candidate, job_offer_id: jb.id) do %>
                                            <h4><strong><%= candidate.name %></strong></h4>
                                            <p><strong>Recommended by: </strong>
                                              <% case candidate.job_offer.user.company.name
                                                when "Facebook" %><%= image_tag "facebook.png", class: "logo-company" %>
                                                <% when "Twitter" %><%= image_tag "twitter.png", class: "logo-company" %>
                                                <% when "BlackBerry" %><%= image_tag "Blackberry.png", class: "logo-company" %>
                                                <% when "Nokia" %><%= image_tag "Nokia.png", class: "logo-company" %>
                                                <% when "The Good Gift" %><%= image_tag "thegoodgift.png", class: "logo-company" %>
                                                <% when "Sanofi" %><%= image_tag "sanofi.png", class: "logo-company" %>
                                                <% when "Rocket Internet" %><%= image_tag "rocket-internet.png", class: "logo-company" %>
                                                <% when "Omnes Capital" %><%= image_tag "omnes-capital.png", class: "logo-company" %>
                                                <% when "BlaBlaCar" %><%= image_tag "BlaBlaCar.png", class: "logo-company" %>
                                                <% when "KPMG" %><%= image_tag "KPMG.png", class: "logo-company" %>
                                                <% when "Withings" %><%= image_tag "withings.png", class: "logo-company" %>
                                                <% when "Planisphère" %><%= image_tag "planisfer.png", class: "logo-company" %>
                                              <% end %></p>
                                            <p><strong>For a position as: </strong><%= candidate.job_offer.title%></p>
                                          <% end %>
                                          <div class="text-center contacted-container_<%= candidate.id %>">
                                            <% if jb.candidate_contacted? candidate %>
                                              <p class='sent-inmail-index'>Inmail Sent</p>
                                            <% else %>
                                              <%= link_to 'Send Inmail', company_job_offer_contacted_candidates_path(@company, jb, candidate_id: candidate.id), method: :post, class: 'btn btn-primary send-inmail-index', remote: true %>
                                            <% end %>
                                          </div>
                                        </div>
                                        <div class="rating">
                                          <div class="text-center">
                                            <div class="favorite-link-container_<%= candidate.id %>">
                                              <%= render 'favorite_link', candidate: candidate, job_offer: jb %>
                                            </div>

                                                <div class="progress-bar-home">
                                                  <figure data-skill="<%= (result[:score] * 100).round(1) %> " data-skill-size="<%= (result[:score] * 100).round(1) %>"></figure>
                                               </div>
                                              </div>
                                            </div>
                                        </div>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="menu-tab-content hidden" id="contacted_<%=jb.id %>">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="tab-content-space">
                            <div class="container-fluid">
                              <div class="row candidates-container">
                                <% score.reverse.each do |result| %>
                                  <% unless result[:job_offer].user.company == current_user.company %>
                                    <% result[:job_offer].candidates.each do |candidate| %>
                                    <% if jb.candidate_contacted? candidate %>
                                        <div class="candidates">
                                          <div class="candidates-info">
                                            <%= link_to company_candidate_path(@company, candidate, job_offer_id: jb.id) do %>
                                              <h4><strong><%= candidate.name %></strong></h4>
                                              <p><strong>Recommended by: </strong>
                                              <% case candidate.job_offer.user.company.name
                                                when "Facebook" %><%= image_tag "facebook.png", class: "logo-company" %>
                                                <% when "Twitter" %><%= image_tag "twitter.png", class: "logo-company" %>
                                                <% when "BlackBerry" %><%= image_tag "Blackberry.png", class: "logo-company" %>
                                                <% when "Nokia" %><%= image_tag "Nokia.png", class: "logo-company" %>
                                                <% when "The Good Gift" %><%= image_tag "thegoodgift.png", class: "logo-company" %>
                                                <% when "Sanofi" %><%= image_tag "sanofi.png", class: "logo-company" %>
                                                <% when "Rocket Internet" %><%= image_tag "rocket-internet.png", class: "logo-company" %>
                                                <% when "Omnes Capital" %><%= image_tag "omnes-capital.png", class: "logo-company" %>
                                                <% when "BlaBlaCar" %><%= image_tag "BlaBlaCar.png", class: "logo-company" %>
                                                <% when "KPMG" %><%= image_tag "KPMG.png", class: "logo-company" %>
                                                <% when "Withings" %><%= image_tag "withings.png", class: "logo-company" %>
                                                <% when "Planisphère" %><%= image_tag "planisfer.png", class: "logo-company" %>
                                              <% end %></p>
                                              <p><strong>For a position as: </strong><%= candidate.job_offer.title%></p>
                                            <% end %>
                                            <div class="text-center contacted-container_<%= candidate.id %>">
                                              <% if jb.candidate_contacted? candidate %>
                                                <p class='sent-inmail-index'>Inmail Sent</p>
                                              <% else %>
                                                <%= link_to 'Send Inmail', company_job_offer_contacted_candidates_path(@company, jb, candidate_id: candidate.id), method: :post, class: 'btn btn-primary send-inmail-index', remote: true %>
                                              <% end %>
                                            </div>
                                          </div>
                                          <div class="rating">
                                            <div class="text-center">
                                              <div class="favorite-link-container_<%= candidate.id %>">
                                                <%= render 'favorite_link', candidate: candidate, job_offer: jb %>
                                              </div>

                                                  <div class="progress-bar-home">
                                                    <figure data-skill="<%= (result[:score] * 100).round(1) %> " data-skill-size="<%= (result[:score] * 100).round(1) %>"></figure>
                                                 </div>
                                                </div>
                                              </div>
                                        </div>
                                          <% end %>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
              </div>
            </div>
          <% end %>
      <% end %>

