<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <h1><%= @candidate.name %></h1>
      <p> Current position: <%= @candidate.position %></p>
      <p>Recommended by: <%= @candidate.job_offer.user.company.name %></p>
      <%= @candidate.job_offer.title %>
      <p>
      <%= link_to 'Send inmail', company_candidate_path(@candidate), method: :post, class: 'btn btn-primary' %>
      </p>
    </div>

    <% if current_user.company == @candidate.job_offer.user.company %>
        <a href="#" class="btn btn-primary back-button" onclick="window.history.back()">Back</a>
    <% else %>
        <%= link_to "Back", candidates_path, class: "btn btn-primary back-button" %>
    <% end %>
  </div>
</div>
