<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <% if @candidate.document? %>
        <%= cl_image_tag "#{@candidate.document.public_id}.png", width: 200, height: 300, crop: :fill %>
      <% end %>
      <h1 class="text-center"><%= @candidate.name %></h1>
      <br>
      <h4 class="text-center"><strong>Current position:</strong> <%= @candidate.position %></h4>
      <h4 class="text-center"><strong>Recommended by:</strong> <%= @candidate.job_offer.user.company.name %></h4>
      <h4 class="text-center"><strong>For a position as </strong><%= @candidate.job_offer.title %></h4>
      <h4>
<p class="text-center">
  <%= link_to 'Send Inmail', company_job_offer_contacted_candidates_path(@company, @job_offer, candidate_id: @candidate.id), method: :post, class: 'btn btn-primary send-inmail' %>
</p>
    </div>

        <a href="#" class="btn btn-primary back-button" onclick="window.history.back()">Back</a>

  </div>
</div>
