<% if policy(@company).show? %>
  <% content_for :sidebar do %>
  <div id="sidebar">
    <div class="all-tabs-profile">
      <div class="tab-block">
        <a class="tabs" data-target="#job_offers">
          <h4><i class="fa fa-file-text"></i> Uploaded Job Offers </h4>
        </a>
        <a class="tabs" data-target="#uploaded_cvs">
          <h4><i class="fa fa-users"></i> Uploaded CVs</h4>
        </a>
        <a class="tabs" data-target="#blacklist">
          <h4><i class="fa fa-list-ul"></i>  Black List</h4>
        </a>
      </div>
    </div>
  </div>
  <% end %>

  <div class="page-content">
    <!-- tab-content-width -->
    <div class="tab-content-width tab-content-width-index">
      <div class="tab-content hidden" id="job_offers">
        <div class="container-fluid">
          <div class="row">
            <div class="tab-content-space">
              <div class="header text-center">
                  <h2 class="title text-center"> Your Job Offers</h2>
              </div>

              <% @company.job_offers.each do |job_offer|%>
                <% if job_offer.candidates == [] %>
                  <div class="candidates">
                  <%= link_to cl_image_path("#{job_offer.document.public_id}.png", width: 800, height: 1000, crop: :fill), class: "swipebox", rel: "gallery" do %>
                    <div class="candidates-info">
                          <h4><strong><%= job_offer.title %></strong></h4>
                          <p>Uploaded on: <%= job_offer.created_at.strftime("%b %d, %Y")%></p>
                    </div>
                  <% end %><!-- end of link_to swipebox -->
                    <div class="product-candidates rating-candidates text-center">
                      <p>
                        <a href="<%= @company.id %>/candidates#job_offer_<%= job_offer.id %>"><i class="fa fa-users"></i>   See Candidates</a>
                      </p>
                      <% if current_user.company_admin %>
                        <ul class="list-inline">
                          <li><%= link_to edit_job_offer_path(job_offer) do %>
                              <i class="fa fa-file-text-o"></i>
                          <% end %></li>
                          <li><%= link_to job_offer_path(job_offer), method: :delete, data: { confirm: "Are you sure?" } do %>
                              <i class="fa fa-trash delete-offer"></i>
                          <% end %></li>
                        </ul>
                      <% end %><!-- end of if condition -->
                    </div>
                </div>
              <% end %><!-- end of if job_offer.candidates -->



              <% end %><!-- end of job_offer block -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .tab-content-width -->

    <div class="tab-content-width tab-content-width-index">
      <div class="tab-content hidden" id="uploaded_cvs">
        <div class="container-fluid">
          <div class="row">
            <div class="tab-content-space">
              <h2 class="title text-center"> Uploaded CVs </h2>
              <% @company.users.each do |user|%>
                <% user.candidates.each do |candidate| %>
                  <div class="candidates">
                    <div class="col-xs-12">
                      <%= link_to company_candidate_path(@company, candidate, job_offer_id: candidate.job_offer) do %>
                        <h4><strong><%= candidate.name %></strong></h4>
                        <p><%= candidate.position %></p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content-width">
      <div class="tab-content hidden" id="blacklist">
            <div class="tab-content-space">
            <h2 class="title text-center"> Company Black List </h2>


          <div class="container-fluid">
            <div id="black_listed_companies">

              <% @company.black_listed_companies.each do |blacklist|%>

                    <%= render 'company_companies/show', company: blacklist %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">

                 <div class="formulaire" id="add-to-blacklist">
                  <%= render 'company_companies/form', company: @company, company_company: @company_company %>
                </div>

                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% content_for :after_js do %>
  <script type="text/javascript">
  ;( function( $ ) {

    if ($('.swipebox').length) {
      $( '.swipebox' ).swipebox({
        // useCSS : true, // false will force the use of jQuery for animations
        // useSVG : true, // false to force the use of png for buttons
        // initialIndexOnArray : 0, // which image index to init when a array is passed
        // hideCloseButtonOnMobile : false, // true will hide the close button on mobile devices
        // removeBarsOnMobile : true, // false will show top bar on mobile devices
        // hideBarsDelay : 3000, // delay before hiding bars on desktop
        // videoMaxWidth : 1140, // videos max width
        // beforeOpen: function() {}, // called before opening
        // afterOpen: null, // called after opening
        // afterClose: function() {}, // called after closing
        // loopAtEnd: false // true will return to the first image after the last image is reached
      });
    }

  } )( jQuery );
  </script>
<% end %>
