
<% if policy(@company).show? %>
<div id="sidebar">
<div class="all-tabs-profile">
    <div class="tab-block">
      <a class="tabs active" data-target="#company_profile">
        <h4>Company profile</h4>
      </a>
      <a class="tabs" data-target="#job_offers">
        <h4>Job Offers </h4>
      </a>
      <a class="tabs" data-target="#uploaded_cvs">
        <h4>Uploaded CVs</h4>
      </a>
      <a class="tabs" data-target="#blacklist">
        <h4>Black List</h4>
      </a>
    </div>
    <div class="tab-button-add">
      <a class="tabs btn btn-primary back-button-sidebar" data-target="#top-tab"><h5>Add job offer</h5></a>
    </div>
  </div>
</div>


<div class="page-content">
  <div class="background">
    <div class="text-center index-title">
      <h1 class="title"> <%= @company.name %>'s Profile</h1>
    </div>

<div class="tab-content-width">
    <div class="tab-content" id="company_profile">
      <div class="container text-center">
        <div class="row">
          <div class="tab-content-space">
            <div class="col-xs-12 col-sm-6">
              <div class="profile-about">
                <h2 class="sous-title">About <i class="fa fa-question profile-icon" aria-hidden="true"></i></h2>
                <% website = @company.website  %>
                <p><%= link_to "Website", "http://#{website}"%></p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <h2 class="sous-title">Description <i class="fa fa-file-text-o profile-icon" aria-hidden="true"></i></h2>
                <p><%= @company.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="tab-content-width">
    <div class="tab-content hidden" id="job_offers">
      <div class="container">
        <div class="row">
          <div class="tab-content-space">
            <div class="header text-center">
                <h2 class="sous-title"> Job Offers</h2>
            </div>

            <% @company.job_offers.each do |job_offer|%>
              <% if job_offer.candidates == [] %>
                <%= link_to job_offer_path(job_offer) do %>
                  <div class="col-xs-9">
                     <div class="product">
                        <div class='product-body'>
                          <h3><strong><%= job_offer.title %></strong></h3>
                          <p>Uploaded on: <%= job_offer.created_at.strftime("%b %d, %Y")%></p>
                        </div>
                      </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="product-candidates text-center">

                    <p class="productright">
                      <a href="<%= @company.id %>/candidates#job_offer_<%= job_offer.id %>"><i class="fa fa-user"></i>   See Candidates</a>
                    </p>

                    <% if current_user.company_admin %>
                      <ul class="list-inline">
                      <li><%= link_to edit_job_offer_path(job_offer) do %>
                          <i class="fa fa-file-text-o"></i>
                      <% end %></li>
                      <li><%= link_to job_offer_path(job_offer), method: :delete, data: { confirm: "Are you sure?" } do %>
                          <i class="fa fa-trash delete-offer"></i>
                      <% end %></li>
                      </ul>
                    <% end %>

                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="tab-content-width">
    <div class="tab-content hidden" id="uploaded_cvs">
      <div class="container">
        <div class="row">
          <div class="tab-content-space">
          <h2 class="sous-title"> Uploaded CVs </h2>
          <% @company.users.each do |user|%>
                <% user.candidates.each do |candidate| %>
                  <div class="col-xs-12">
                    <div class="product">
                      <div class='product-body'>
                      <%= link_to company_candidate_path(@company, candidate) do %>
                        <p><strong><%= candidate.name %></strong></p>
                        <p><%= candidate.position %></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="tab-content-width">
    <div class="tab-content hidden" id="blacklist">
          <div class="tab-content-space">
          <h2 class="sous-title"> Company Black List </h2>


        <div class="container">
          <div id="black_listed_companies">
            <% @company.black_listed_companies.each do |blacklist|%>
              <%= render 'company_companies/show', company: blacklist %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
           <div class="formulaire" id="add-to-blacklist">
            <%= render 'company_companies/form', company: @company, company_company: @company_company %>
          </div>

          </div>
        </div>
      </div>
    </div>
</div>

    <div class="tab-content-width">
      <div class="tab-content" id="top-tab">
        <div class="container">
          <div class="row">
            <div class="tab-content-space">
              <div class="text-center title">
                <h1>Add your Job Offer</h1>
              </div>

              <div class="add-card">
                  <h1 class="text-center title"></h1>

                <div class="formulaire">

                <%= render 'job_offers/form', job_offer: JobOffer.new %>

              </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>




</div>

</div>


<% end %>
