<!-- <div class="tab-content hidden" id="job_offers">
 -->  <h2 class="title text-center"> My skills </h2>
<div class="container">
  <div class="row">
    <% @company.job_offers.each do |job_offer|%>
    <%= link_to job_offer_path(job_offer) do %>
      <div class="col-xs-9">
         <div class="product">
            <div class='product-body'>
              <h3><strong><%= job_offer.title %></strong></h3>
              <p>Uploaded on: <%= job_offer.created_at.strftime("%b %d, %Y")%></p>
            </div>
          </div>
      </div>
      <div class="col-xs-3">
        <div class="product-candidates text-center">
          <p class="productright"><i class="fa fa-user"></i>   2 contacted</p>
          <ul class="list-inline">
          <li><%= link_to edit_job_offer_path(job_offer) do %>
              <i class="fa fa-file-text-o"></i>
          <% end %></li>
          <li><%= link_to job_offer_path(job_offer), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash delete-offer"></i>
          <% end %></li>
          </ul>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
<!-- </div>
 -->

<div class="add-btn text-center">
  <%= link_to "Add Job Offer", new_company_job_offer_path, class: "btn btn-primary" %>
</div>
